.bubble-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.bubble-item-0 {
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-top: 10px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 15px;
    color: red;
    line-height: 700%;
    text-align: center;
    background: #000
}

.bubble-item-1 {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-top: 10px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 15px;
    color: red;
    line-height: 700%;
    text-align: center;
    background: #000
}
.search {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#results-container {
    position: relative;
    background-color: rgba(104, 207, 199, 0.432);
    padding: 0px;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;
}
.results-img {
    height: 200px;
    width: 100%;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px rgb(123, 255, 0); }
    to { text-shadow: 0 0 20px rgb(174, 0, 255); }
}
.results-name {
    font-family: Apple Chancery, cursive;
    font-size: 32px;
    margin: 10px;
    margin-bottom: 10px; 
    text-align: center;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.modal-main {
    position:fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.display-block {
    display: block;
}

.display-none {
    display: none;
}
  
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}
#logo {
    color: red;
	margin: 2%;
    padding: 2%;
    text-align: center;
}
